        </div>
            <ul class="side-nav">
            <li class="<%= active_class(use_cases_path) %>"><%= link_to 'Overview', use_cases_path %></li>
            <li><h5>Solutions</h5></li>
            <li class="<%= active_class(use_cases_financial_services_path) %>"><%= link_to "Financial Services", use_cases_financial_services_path %></li>
            <li class="<%= active_class(use_cases_health_care_path) %>"><%= link_to "Health Care", use_cases_health_care_path %></li>
            <li class="<%= active_class(use_cases_education_path) %>"><%= link_to "Education", use_cases_education_path %></li>
            <li class="<%= active_class(use_cases_non_profit_path) %>"><%= link_to "Non-Profit", use_cases_non_profit_path %></li>
            <li><h5>Applications</h5></li>
            <li class="<%= active_class(use_cases_sustainability_path) %>"><%= link_to "Sustainability", use_cases_sustainability_path %></li>
            <li class="<%= active_class(use_cases_talent_analytics_path) %>"><%= link_to "Talent Analytics", use_cases_talent_analytics_path %></li>
            <li class="<%= active_class(use_cases_financial_statement_analytics_path) %>"><%= link_to "Financial Statement Analytics", use_cases_financial_statement_analytics_path %></li>
            <li class="<%= active_class(use_cases_profitability_path) %>"><%= link_to "Profitability", use_cases_profitability_path %></li> 
        </ul>
    </div>
