         <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <ul class="side-nav">
                                <li class="active"><%= link_to 'Company', about_path %></li>
                                <li><%= link_to "Principles", about_principles_path %></li>
                                <li><%= link_to "Culture", about_culture_path %></li>
                                <li><%= link_to " Software Principles", about_software_path %></li>
                                <li><%= link_to "Careers", about_careers_path %></li>
                                <li><%= link_to "FAQ", about_faq_path %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <%= image_tag "AngularX_Icon.png", height: '150' %>
                        <h3>AngularX The Company</h3>
                        <div class="divider-deco"><span></span></div>
                    
                        <h4>We are a group of thinkers</h4>

                            <p>
                            AngularX, or Angular as it's commonly referred, is made up of thinkers that solve complex problems everyday in the name of our core mission: to compile professional standards, liberal arts, and engineering into platforms that are useful to our users, clients, and the world. But what makes Angular truly unique is a workplace culture that encourages innovation and a willingness to fail when experimenting with big ideas </p>
                        <br>
                        <br>
                    
                        <div class="divider-double"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Mission</h4>
                                Angular’s mission is to compile professional standards, liberal arts, and engineering, into platforms that are useful to users, clients, and the world. 
                            </div>

                            <div class="col-md-6">
                                <h4>Current Focus</h4>
                                Because our mission is so vast in scope, our focus tends to migrate. For now, we are concentrating on the following three issues: Sustainability, profitability, and big data analytics. We see these as pressing matters to organizations, people, and the world. As our understanding changes, so too will our focus. 
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
