     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <ul class="side-nav">
                                <li class="active"><%= link_to 'Company', about_path %></li>
                                <li><%= link_to "Principles", about_principles_path %></li>
                                <li><%= link_to "Culture", about_culture_path %></li>
                                <li><%= link_to " Software Principles", about_software_path %></li>
                                <li><%= link_to "Careers", about_careers_path %></li>
                                <li><%= link_to "FAQ", about_faq_path %></li>
                            </ul>
                        </div>
                    </div>

            </section>