         <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <ul class="side-nav">
                                <li><%= link_to 'Company', about_path %></li>
                                <li><%= link_to "Principles", about_principles_path %></li>
                                <li><%= link_to "Culture", about_culture_path %></li>
                                <li ><%= link_to " Software Principles", about_software_path %></li>
                                <li><%= link_to "Careers", about_careers_path %></li>
                                <li class="active"><%= link_to "FAQ", about_faq_path %></li>
                            </ul>
                        </div>
                    </div>
                  <div class="col-md-8">
                    <h4>Frequently Asked Questions</h4>
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Can I invest in AngularX?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            The short answer is yes. Investorts are welcome to inquire and we are happy to assist in answering any questions. Please <a href="#">contact </a>us.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Can I advertise with AngularX?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            At this time we are not accepting applications for web based advertising. 
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              I am a non-profit - How much does AngularX cost?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            If you are a non-profit institution with $500K USD in assets or less then AngularX services are avialable to you at no charge. Please <a href="#">contact us.</a> 
                          </div>
                        </div>
                      </div>
                    </div>

               
                </div>
            </div>
        </section>
