     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER 
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                            <div class="widget">
                              <%= render 'usenav' %>
                            <div class="col-md-8">
                        <div class="row">
                          <h4>Human Resource Professionals: Talent Analytics</h4>
                            <!-- TALENT BOXES AT TOPE OF PAGE -->
                              <!-- Div Required for Correct Line Chart Animation -->
                            <div class="talent-line"></div>
                           <div class="content animate-panel">
                            <div class="row social-board">
                                <div class="col-md-6">
                                    <div class="hpanel hblue"  id="talent-panel">
                                        <div class="panel-body">
                                            <div class="media social-profile clearfix">
                                                <a class="pull-left">
                                                    <%= image_tag "profile-picture-2.png" %>
                                                </a>
                                                <div class="media-body">
                                                    <h5>Lisa Gillespie</h5>
                                                    <small class="text-muted"><%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year%></small>
                                                </div>
                                            </div>

                                            <div class="social-content m-t-md">
                                                                         </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                    <a class="pull-left">
                                                    </a>

                                                    <div class="media-body">
                                                        <h5>Pulse Surveys</h5>
                                                        <table class="table">
                                                          <th>Total Surveys</th>
                                                          <th>Pending</th>

                                                          <tr>
                                                            <td>10</td>
                                                            <td>2</td>
                                                          </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                    <a class="pull-left">
                                                    </a>

                                                    <div class="media-body">
                                                        <h5>Snapshots</h5>
                                                        <div class="media-body">
                                                        <table class="table">
                                                          <th>Total Snapshots</th>
                                                          <th>Pending</th>

                                                          <tr>
                                                            <td>12</td>
                                                            <td>0</td>
                                                          </tr>
                                                        </table>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                      </div>
                                  </div>
                             
                            

                            <div class="content animate-panel">
                            <div class="row social-board">
                                <div class="col-md-6">
                                    <div class="hpanel hblue"  id="talent-panel">
                                        <div class="panel-body">
                                            <div class="media social-profile clearfix">
                                                <a class="pull-left">
                                                    <%= image_tag "profile-picture.png" %>
                                                </a>
                                                <div class="media-body">
                                                    <h5>Mike Garanzini</h5>
                                                    <small class="text-muted"><%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year%></small>
                                                </div>
                                            </div>

                                            <div class="social-content m-t-md">
                                                                         </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                    <a class="pull-left">
                                                    </a>

                                                    <div class="media-body">
                                                        <h5>Pulse Surveys</h5>
                                                        <table class="table">
                                                          <th>Total Surveys</th>
                                                          <th>Pending</th>

                                                          <tr>
                                                            <td>9</td>
                                                            <td>1</td>
                                                          </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                    <a class="pull-left">
                                                    </a>

                                                    <div class="media-body">
                                                        <h5>Snapshots</h5>
                                                        <div class="media-body">
                                                        <table class="table">
                                                          <th>Total Snapshots</th>
                                                          <th>Pending</th>

                                                          <tr>
                                                            <td>7</td>
                                                            <td>3</td>
                                                          </tr>
                                                        </table>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                           </div>
                                  <br>
                                  <br>
                                <div class="clearfix"></div>


                            <!-- END TALENT BOXES -->
                            

                            
                             <br>
                            <h4>AngularX Talent Analytics helps you track your workforce</h4>
     
                            <br>
                            <br>
                            <!-- ORIGINAL CODE -->
                     
                                <div class="line-canvas">
                                    <div>
                                        <canvas id="talent-canvas" height="250" width="600"></canvas>
                                    </div>
                                </div>
                        
       





            </section>