
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

       <!-- =========================================
                    Full Slider
        ========================================== -->
                <div id="slides">
                    <ul class="slides-container">
                        
                        <!-- Slide n.1 -->
                        <li>
                            <!-- Background Overlay -->    
                            <div class="overlay">
                                <!-- Intro Section 1 -->
                                <div class="container vmiddle">
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                            
                                            <div class="hero-section text-center">
                                                    <!-- Welcome - Hero Message -->

                                                    <h1 class="text-white">Welcome to AngularX<span class="slider-text">the strategy desk of the web</span></h1>
                                                    <p class="text-white hidden-xs">Your starting point for sustainability and profitability analytics</p>
                                                    
                                                    <div class="btn-box">
                                                        <a href="#about" class="btn btn-ghost scrollto hidden-xs">Learn More</a>
                                                        <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Try it for Free</a>
                                                    </div>

                                            </div><!-- /End Intro-Section -->
                                        </div><!-- /End Col -->
                                    </div><!-- /End Row -->
                                </div><!-- /End Container Hero-Section -->
                                        
                                <!-- Background Image 1 -->
                                <%= image_tag 'bg_test_1' %>
                            </div>
                                                                
                        </li><!-- /End Slide n.1 -->
                                
                                
                        <!-- Slide n.2 -->
                        <li>
                            <!-- Background Overlay -->   
                            <div class="overlay">
                                <!-- Intro Section 2 -->
                                <div class="container vmiddle">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="hero-section text-center">
                                                    
                                                    <!-- Welcome - Hero Message -->
                                                    <h1 class="text-white">AngularX Terminal<span class="slider-text">leverage financial data like never before</span></h1>
                                                    <p class="text-white hidden-xs">Analyze over 19,000 public companies as well as credit unions, and bank call reports.</p>
                                                    
                                                    <div class="btn-box">
                                                        <a href="#about" class="btn btn-ghost scrollto hidden-xs">Learn More</a>
                                                        <a href="#mobile-download" class="btn btn-color scrollto"><i class="icon icon_cloud-download_alt"></i>Get Started</a>
                                                    </div>

                                            </div><!-- /End Intro-Section -->
                                        </div><!-- /End Col -->
                                    </div><!-- /End Row -->
                                </div><!-- /End Container Hero-Section -->
                                        
                                <!-- Background Image 2 -->
                                <%= image_tag 'working.jpg' %>
                            </div>
                                    
                        </li><!-- /End Slide n.2 -->
                                
                                
                        <!-- Slide n.3 -->
                        <li>
                            <!-- Background Overlay -->   
                            <div class="overlay">
                                <!-- Intro Section 3 -->
                                <div class="container vmiddle">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="hero-section text-center">
                                                    
                                                    <!-- Welcome - Hero Message -->
                                                    <h1 class="text-white">GRI Search Interface <span class="slider-text">for sustainability reporting</span></h1>
                                                    <p class="text-white hidden-xs">Your starting point Global Reporting Initiative regulation.</p>
                                                    
                                                    <!-- Learn More & Video Buttons -->
                                                    <div class="btn-box">
                                                        <a href="#about" class="btn btn-ghost scrollto hidden-xs">Learn More</a>
                                                        <!-- Video Lightbox on Click -->
                                                        <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="btn btn-color venobox"><i class="icon arrow_triangle-right_alt"></i>Play video</a>
                                                    </div>

                                            </div><!-- /End Intro-Section -->
                                        </div><!-- /End Col -->
                                    </div><!-- /End Row -->
                                </div><!-- /End Container Hero-Section -->
                                        
                                <!-- Background Image 3-->
                                <%= image_tag 'ice.jpeg' %>
                            </div>     
                        </li><!-- /End Slide n.3 -->
                    </ul><!-- /End Slides Container -->   
                </div> <!-- /End Full-Slider -->
        </header>

        
        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="about">
            <div class="container">

                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <%= image_tag "appsbar.png", height: '200', id: "appsbar" %>
                        <div class="col-xs-12">
                            <h2>A Business Analytics Platform</h2>
                            <p class="large">Lighting fast, powerfully intuitive, and easy to use</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Multi-Platform Solutions</h4>
                            <p>AngularX is a multi-platform solution. On any device, and in any place you need us to be. </p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-browser"></i>
                            </div>
                            <h4>Dashboard View</h4>
                            <p>A Dashboard Platform that's a scalable data analytics solution for organizational reporting. </p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-documents"></i>
                            </div>
                            <h4>Results and Reporting</h4>
                            <p>With our peer analytics AngularX has robust reporting technolgies for users and managers.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->
        
        
        <!-- ==================================================
             SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
        ======================================================= -->
        <section class="img-with-action light-bg">
            <div class="container wrapper-lg">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                         <%= image_tag "AngularX_Icon.png", height: '150', id: "angle_icon" %>
                         
                        <!-- Text Col -->
                        <h3>AngularX is the strategy desk of the web</h3>
                        <p><a href="#">Sustainability Reporting</a>, <a href="#">Profitability</a>, <a href="">Talent Analytics</a> and <a href="#">Fiancial Statement Analytics</a> in one platform. AngularX Dashboard helps you to manage your organizational profile through advanced analytics in an easy to use platform.

                        Check out our <a href="#">Inudstries</a> or <a href="#">Services</a> for more information. </p>
                        <!-- Call To Action Buttons -->
                        <div class="btn-box">
                            <a href="#features" class="btn btn-grey scrollto">Learn More</a>
                            <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Get Started</a>
                        </div>
                        <!-- Div Required for Correct Charts Animation -->
                        <div class="start-charts"></div>
                    </div>
                </div><!-- /End Row-->
            </div><!-- /End Container-->
            <!-- Image Col -->
            <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"></div>
        </section>
        <!-- =============================
             /END SECTION 
        ============================== -->
        

        <!-- ==================================================
            CHARTS & SHOWCASE SECTION
        ======================================================= -->
        <section class="charts" id="charts">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Pro Level Power</h2>
                            <p class="large">Robust reporting in a platform enviornment tailored to analytics solutions</p>
                        </div>
                    </div>

                    <div class="row doughnut-box">
                        <div class="col-md-5">
                            <!-- Div Required for Correct Line Chart Animation -->
                            <div class="start-line"></div>
                            <!-- Chart Text Description -->
                            <h4>Robust interface and visuals for data integration and organizaional reporting</h4>
                            <p><a href="#">Financial Services</a> benefit from sustainability reporting, <a href="#">Education</a>  tracks energy consumption and faculty sentiment, and <a href="#">Health Care</a> monitors CO2 emissions, and total waste disposal. Using AngularX services, organizations can easily track and maintain metrics crutial to their operations, and overall reporting needs using proven frameworks as a guide. <br>
                         
                                <ul id="framework">
                                    <li><%= image_tag "gri.jpg", height: '50' %></li>
                                    <li><%= image_tag "aicpa.png", height: '50' %></li>
                                </ul>
                            
                            <br>
                             88% of respondents to our case studies indicted AngularX products helped to make their decision making more efficient. See our <a href="#">case studies</a> with industry professionals and sustainability reporting. </p>
                            <p><a href="#canvas-bg" class="scrollto"><strong>Want to get started? It will only take a minute ›</strong></a></p>
                        </div>
                        <div class="col-md-7">
                            <!-- Doughnut Charts  -->
                            <div id="canvas-holder">
                                <div class="chart-text">
                                   88&#37;<span>Increased<br> Efficiency</span>
                                </div>
                                <canvas id="chart-area" width="400" height="400"></canvas>
                            </div>
                            <div id="canvas2-holder">
                                <div class="chart2-text">
                                   55&#37;<span>Improved<br> Analysis</span>
                                </div>
                                <canvas id="chart2-area" width="300" height="300"></canvas>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->
                        
                    <div class="row chart-box">
                        <div class="col-md-6 col-md-push-6 col-sm-12">
                            <!-- Chart Text Description -->
                            <h4>AngularX <strong>Analytics</strong> uses advanced and scalable data technologies </h4>
                            <p>AngularX uses <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">IBM Watson</a>, and <a href="http://www.ibm.com/cloud-computing/bluemix/">IBM Bluemix Cloud Services</a> to process Trade off Analytics at impressive scale. In combination with <a href="https://cloud.google.com/">Google Cloud Services</a> and Google's Prediction API, AngularX is a robust tool for <a href="#">Sustainability Reporting</a>, <a href="#">Talent Analytics</a> and <a href="#">Finanical Statement Analytics</a></p>
                            <p>Data technology API's and Partners</p>
                            <br>
                            <ul id='partners'>
                                <li><%= image_tag 'ibm.png', height: '50' %></li>
                                <li><%= image_tag 'google.png', height: '150' %></li>

                            </ul>
                            <br>
                            <br>
                            <p><a href="#features" class="scrollto"><strong>Explore our apps and features ›</strong></a></p>
                        </div>
                        <div class="col-md-6 col-md-pull-6 col-sm-12">
                            <!-- Line Chart -->
                            <div class="line-canvas">
                                <div>
                                    <canvas id="line-canvas" height="450" width="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->
                    
                    <div class="row showcase">
                        <div class="col-md-4">
                            <h4>A Platform Solution</h4>
                            <p>AngularX is not just an application, it's a platform. On your Mac, PC, tablet, or mobile devise, AngularX is everywhere you are. Check out our <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube">video</a> to learn more.</p>
                            <p><a href="#mobile-download" class="scrollto"><strong>See the App for your smartphone ›</strong></a></p>
                        </div>
                        <div class="col-md-8">
                            <!-- Devices Image -->
                            <div class="img-box">
                                <%= image_tag 'showcase.png', class: "img-responsive" %>
                                <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="venobox video-player"><i class="icon arrow_triangle-right_alt2 wow fadeIn" data-wow-duration="2s"></i></a>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->

                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->      
        </section>
        <!-- =============================
             /END CHARTS SECTION 
        ============================== -->
        
        
        <!-- ==================================================
            FEATURES SECTION
        ======================================================= -->
        <section class="tab-features color-bg" id="features">
            <div class="container">
                <div class="features-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Explore Features</h2>
                            <p class="large text-white">AngularX Apps work together in one platform solution</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!-- Features Tab -->
                    <div class="tabs features tab-container">
                        <ul class="etabs">
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-1">
                                        <div class="icon-sm">
                                            <i class="icon icon-layers"></i>
                                        </div>
                                        <h5 class="text-white">Flexible User<br> Interface</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-2">
                                        <div class="icon-sm">
                                            <i class="icon icon-linegraph"></i>
                                        </div>
                                        <h5 class="text-white">Financial<br> Terminal</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-3">
                                        <div class="icon-sm">
                                            <i class="icon icon-beaker"></i>
                                        </div>
                                        <h5 class="text-white">Analytics <br> Lab</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-4">
                                        <div class="icon-sm">
                                            <i class="icon icon-chat"></i>
                                        </div>
                                        <h5 class="text-white">Talent <br>Analytics</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-5">
                                        <div class="icon-sm">
                                            <i class="icon icon-lightbulb"></i>
                                        </div>
                                        <h5 class="text-white">Sustainability <br>Reporting</h5>
                                    </a>
                            </li>
                        </ul><!-- /End Etabs -->
                  
                        <div class="panel-container">
                            
                            <div class="tab-content" id="tab-feature-1">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2cols Text-Left with Buttons -->
                                        <div class="col-md-5 col-sm-6">
                                            <h4>AngularX is a platform with usable, versatile and modular features.</h4>
                                            <p>AngularX is a scalable and versitle business analytics platform. It allows any user, from employees using Talent Analytics, to managers using the Analytics Lab to easily and effectively interact with AngularX software and tools.</p>
                                            <div class="btn-box">
                                                <a href="#testimonials" class="btn btn-grey scrollto">Our Clients</a>
                                                <a href="#team" class="btn btn-grey scrollto">Services</a>
                                            </div>
                                        </div>
                                        <!-- Image-right -->
                                        <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                            <%= image_tag 'feature1-mockup.png' %>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /End Tab-content -->

                            <div class="tab-content" id="tab-feature-2">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2cols Text-Right with Icons -->
                                        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-7 col-lg-push-5">
                                            <h4>Financial Statement Analytics at Scale</h4>
                                            <p>AngularX Financial Statement Terminal allows users to analyze financial metrics in tandem with sustainability reporting.</p>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-adjustments"></i>
                                                </div>
                                                <p class="large">Powerful Filters and Sorting</p>
                                                <p>Powerful filtering and sorting allows users to analyze fundamentals like never before.</p>
                                            </div>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-piechart"></i>
                                                </div>
                                                <p class="large">Peer Analytics</p>
                                                <p> Peer Analytics allows users to compare and benchmark to others in similar asset classes or industries. </p>
                                            </div>
                                        </div>
                                        <!-- Image-Left -->
                                        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5 col-lg-pull-7 hidden-xs wow fadeInLeft" data-wow-duration="2s">
                                            <%= image_tag 'feature2.png', class: "img-device" %>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- / End Tab-content -->

                            <div class="tab-content" id="tab-feature-3">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2cols Text-Left -->
                                        <div class="col-md-5 col-sm-6">
                                            <h4>AngularX Analytics Lab allows users to create powerful visuals and comparison analytics using IBM Watsons machine learning technology</h4>
                                            <p>Creating peer group analytics is easy with AngularX <a href="#">Analytics Lab</a>. It allows users to easily compare results in an intuitive platform enviornment. Not only that, Analytics Lab uses IBM Watson's machine learning technology to process trade-off analytics for optimized reporting.</p>
                                        </div>
                                        <!-- Image-Right -->
                                        <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                             <%= image_tag 'feature3.png' %>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /End Tab-content -->

                            <div class="tab-content" id="tab-feature-4">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2col Text-Left with Icons-->
                                        <div class="col-md-7 col-sm-6">
                                            <h4>AngularX <a href="#">Talent Analytics</a> gives you insight into employee sentiment like never before</h4>
                                            <p>Using an employee assigned key, organizations can track and manage employee sentiment with cleverly deisgned question and answer interfaces.</p>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-profile-male"></i>
                                                </div>
                                                <p class="large">Amazingly Simple for Employees</p>
                                                <p>Employees use a simple to use interface, with strict privacy controls and reporting.</p>
                                            </div>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-compass"></i>
                                                </div>
                                                <p class="large">Clear Results and Reporting</p>
                                                <p>Real time analytics about employee sentiment with powerful reporting options for management insight, board meetings, or human resource professionals. </p>
                                            </div>
                                        </div>
                                        <!-- Image Right -->
                                        <div class="col-md-5 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                             <%= image_tag 'feature4.png', class: "img-device" %>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /End Tab-content -->

                            <div class="tab-content" id="tab-feature-5">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2col Text both -->
                                        <div class="col-xs-12">
                                            <div class="col-sm-6">
                                                <h4>Global Reporting initiative Ready</h4>
                                                <p>AngularX uses the Global Reporting Initiative as a guide to help users track and manage their sustainability profile. Utilizing the GRI Search Interface by AngularX, users can track, search, and update metrics for quarterly and annual reporting needs.</p>
                                                  <ul id="framework">
                                                    <li><%= image_tag "gri.jpg", height: '50' %></li>
                                                    <li><%= image_tag "g4.png", height: '50' %></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Powerful Visuals and Analytics</h4>
                                                <p>Results from sustainability reporting are presented in powerful visuals, with peer to peer analytics for benchmarking and comparison. It allows users of AngularX to monitor and track their performance relative to their peers.</p>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <!-- Image below --> 
                                        <div class="col-xs-12 hidden-xs wow fadeInUp" data-wow-duration="2s">
                                             <%= image_tag 'feature5.png', class: "img-device" %>
                                        </div>
                                    </div>   
                                </div>
                            </div><!-- / End Tab-content -->

                        </div><!-- / End Panel-Container -->
                    </div><!-- / End Tabs -->
                </div><!-- /End Col -->
            </div><!-- /End Row -->
        </section>
        <!-- =============================
             /END FEATURES TAB
        ============================== -->
        
        
        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <section id="canvas-bg" class="dark-bg signup-divider">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Get started, request a demo</h2>
                            <p class="large text-white">AngularX does not accept personal email addresses (gmail, hotmail, yahoo, etc.). You must have a company email.</p>
                            <!-- Handwritten text with arrow
                            <p class="signup-handwritten text-white">Why wait? Start now! <br>No credit card needed</p> -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- Signup Form -->
                        <form id="signup-divider" role="form">
                            <!-- Notification -->
                            <p class="signup-success"><i class="icon icon_check_alt2"></i> <strong>Congratulations! Welcome to 30 day Free Trial. Check your email address.</strong></p>
                            <p class="signup-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>  

                            <!-- Input fields -->
                            <div class="form-group">
                                <input type="email" name="signup-email" id="signup-email" class="form-control input-lg" placeholder="Enter your Email-Address" required>
                            </div>
                            <div class="form-group">
                                <input type="password" size="25" name="signup-password" id="signup-password" class="form-control input-lg" placeholder="Enter your name" required>
                            </div>
                            <!-- Signup Button -->
                            <button class="btn btn-color">Get Started <i class="icon arrow_right"></i></button>
                        </form>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END SIGNUP SECTION 
        ============================== -->
        

        <!-- =============================
             PRICING SECTION
        ============================== 
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Get Started Today</h2>
                            <p class="large">Choose the plan that suits you best. 30 Days Free Trial with all plans.</p>
                        </div>
                    </div>
                    
                    <!-- Pricing Tabs
                    <div class="row grid-md">
                        <div class="col-sm-4">
                            <div class="pricing-tab">
                                <p class="price">$19<span>/mo</span></p>
                                <h4>Small</h4>
                                <ul class="pricing-features">
                                    <li>30 GB storage</li>
                                    <li>200 GB bandwidth<span>(approx lorem ipsum)</span></li>
                                    <li>10 email accounts</li>
                                    <li>10 MySql databases</li>
                                    <li>3 support tickets per month</li>
                                </ul>
                                <a href="#canvas-bg" class="btn btn-color scrollto">Subscribe</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                                <div class="ribbon">
                                    <h5 class="popular">Popular</h5>
                                </div>
                                <p class="price">$79<span>/mo</span></p>
                                <h4>Medium</h4>
                                <ul class="pricing-features">
                                    <li>100 GB storage</li>
                                    <li>500 GB bandwidth<span>(approx lorem ipsum)</span></li>
                                    <li>50 email accounts</li>
                                    <li>50 MySql databases</li>
                                    <li>5 support tickets per month</li>
                                </ul>
                                <a href="#canvas-bg" class="btn btn-color scrollto">Subscribe</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                                <p class="price">$199<span>/mo</span></p>
                                <h4>Large</h4>
                                <ul class="pricing-features">
                                    <li>Unlimited storage</li>
                                    <li>Unlimited bandwidth<span>(lorem ipsum)</span></li>
                                    <li>Unlimited email account</li>
                                    <li>Unlimited databases</li>
                                    <li>Unlimited support</li>
                                </ul>
                                <a href="#canvas-bg" class="btn btn-color scrollto">Subscribe</a>
                            </div>
                        </div>


                        <!-- Pricing Footer 
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pricing-more">
                                    <p><strong>Looking for more?</strong> &mdash; Tell us what you need. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nesciunt sed molestiae quos, dolor eaque quis facilis tempora consequuntur doloribus omnis cumque fugiat. Qui rerum quis mollitia incidunt reprehenderit expedita, non cumque tenetur deleniti! <strong> <a href="mailto:support@themedept.com">Contact us <i class="icon arrow_carrot-right_alt2"></i></a></strong> </p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>-->
        <!-- =============================
             /END PRICING SECTION 
        ============================== -->


        <!-- =======================================================
             TESTIMONIALS WITH PRESS/CLIENTS LOGOS
        ============================================================ -->
        <section class="testimonial-press light-bg" id="testimonials">
            <div class="container vmiddle">
                <div class="row">
                    <div class="col-md-12">
                        <h2>What users are saying</h2>
                        <p class="large">Find out why users reccomend Sustainability Reporting</p>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs testimonials tab-container">
                        <div class="col-md-8">
                            <div class="panel-container">
                                <div class="tab-block" id="tab-testimonials-1">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>I am proud to say that UPS is at the forefront of companies in our industry working to address sustainability challenges in the most efficient and responsible ways possible. As we expand our global reach, we also expand our environmental and social impacts.</p>
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>David Abney</span>Chief Executive Officer @ UPS</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-2">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>BMO set out to create an equitable workforce 25 years ago. Since then, we have increased the representation of women in senior leader roles from 6% in 1991 to 37.5% in 2015.</p>
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Simon Fish</span>General Counsel and Chair @ BMO</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-3">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>The Ball State University community has embraced a culture of sustainability. Looking ahead to our Centennial in 2018, we hope to enhance our recognition as a national model of sustainability. </p>
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Paul W. Ferguson, Ph.D.</span>President @ Ball State University</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-4">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>The past year has brought several changes to the campus, with the expanded mission of the Office of Sustainability and Energy, new opportunities to craft energy policy for the campus, and new and additional staff working on important projects. </p>
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Lisa McNeilly</span>Director of Sustainability and Energy @ University of California, Berkeley</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                            </div><!-- /End Panel-container -->
                        </div><!-- /End Col -->
                            
                        <ul class="etabs col-md-4 list-unstyled">
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-1">
                                    <!-- Testimonial logo -->
                                    <%= image_tag "/assets/press-logos/press-3.png" %>
                                </a>
                            </li>
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-2">
                                    <!-- Testimonial logo -->
                                    <%= image_tag "/assets/press-logos/press-2.png" %>
                                </a>
                            </li>
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-3">
                                    <!-- Testimonial logo -->
                                    <%= image_tag "/assets/press-logos/press-1.png" %>
                                </a>
                            </li>
                            <li class="tab col-md-6">
                                <a href="#tab-testimonials-4">
                                    <!-- Testimonial logo -->
                                    <%= image_tag "/assets/press-logos/press-4.png" %>
                                </a>
                            </li>
                        </ul><!-- /End Etabs --> 

                    </div><!-- /End Tabs --> 
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END TESTIMONIALS
        ============================== -->
        

        <!-- ==================================================
            TEAM
        ======================================================= 
        <section class="team" id="team">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Meet the Team</h2>
                            <p class="large">We are a passionate team of designers, developers and marketing experts with headquarters in Melbourne.</p>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-4 team-box">
                            <div class="team-img">
                                <img src="assets/images/team-placeholder.jpg" class="img-responsive" alt="">
                                <div class="img-overlay">
                                    <div class="img-icons">
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-facebook"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-twitter"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-linkedin"></i>
                                            </a>
                                        </span>
                                    </div>  
                                </div>
                            </div>
                            <h4>Lukas Mayr</h4>
                            <p class="team-bio"><span class="text-color">Lead designer</span> with experience in most things visual. He loves trying out new techniques and finding the perfect solution for any kind of requirements.</p>
                        </div>
         
                        <div class="col-sm-4 team-box">
                            <div class="team-img">
                                <img src="assets/images/team-placeholder.jpg" class="img-responsive" alt="">
                                <div class="img-overlay">
                                    <div class="img-icons">
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-facebook"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-twitter"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-linkedin"></i>
                                            </a>
                                        </span>
                                    </div>  
                                </div>
                            </div>
                            <h4>Isabella Knudsen</h4>
                            <p class="team-bio"><span class="text-color">Director of Growth and Customer Acquisition</span>. She enjoys the finer details of a project, considering every stage of its journey from planning to completion.</p>
                        </div>
                     
                        <div class="col-sm-4 team-box">
                            <div class="team-img">
                                <img src="assets/images/team-placeholder.jpg" class="img-responsive" alt="">
                                <div class="img-overlay">
                                    <div class="img-icons">
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-facebook"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-twitter"></i>
                                            </a>
                                        </span>
                                        <span class="icon-white">
                                            <a href="#">
                                                <i class="icon icon-linkedin"></i>
                                            </a>
                                        </span>
                                    </div>  
                                </div>
                            </div>
                            <h4>Adrien Simon</h4>
                            <p class="team-bio"><span class="text-color">Full stack hacker, product design, backend development, user interface and everything in between.</span> He likes to keep things simple and focus on the little details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- =============================
             /END TEAM SECTION 
        ============================== -->
        
            
        <!-- ==================================================
            MOBILE DOWNLOAD SECTION
        ======================================================= -->
        <section class="mobile-download light-bg" id="mobile-download">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Get Started</h2>
                            <p class="large">AngularX is a multi-device platform solution</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Text and Mobile Download Buttons -->
                        <div class="col-sm-6 col-md-4">
                            <h3>Analytics at Scale</h3>
                            <p class="mobile-text">With an online dashboard and a mobile app, you'll have full control of your analytics profile and be able to see metrics  in real-time.</p>
                            <a href="#" class="btn btn-color"><i class="icon icon_cloud-download_alt"></i>Get Started</a>
                        </div>
                      
                        <div class="col-sm-6 col-md-4">
                            <!-- Screenshot Carousel -->
                            <div class="shot-container">
                                <div id="owl-carousel-shots-phone" class="owl-carousel">
                                    <div class="owl-container text-center shots-modal">
                                        <img src="assets/images/app-screenshots/app-screenshot1alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="assets/images/app-screenshots/app-screenshot2alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="assets/images/app-screenshots/app-screenshot3alt.jpg" alt="" title="this is the title" />
                                    </div>
                                </div><!-- /End owl carousel-->
                            </div><!-- /End Container -->
                        </div>

                        <div class="col-sm-12 col-md-4 right-features">
                            <!-- More Features -->
                            <div class="col-sm-4 col-md-12">
                                <h4>Scalable Solution</h4>
                                <p>AngularX is a scalable solution with multi-period reporitng and analytics.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Multi-Platform</h4>
                                <p>Use AngularX on your PC, Mac, tablet, or mobile device.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Organizational Analytics</h4>
                                <p>A platform for organization analytics that meets the demands of your reporting needs.</p>
                            </div>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END MOBILE DOWNLOAD SECTION 
        ============================== -->

        
        <!-- ==================================================
            NEWSLETTER AND SOCIAL DIVIDER
        ======================================================= -->
        <section class="newsletter color-bg" id="newsletter">
            <div class="container">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- =========================
                                Social Icons
                            ============================== -->
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell follow">
                                        <h5 class="table-title">Follow Us</h5>
                                    </div>
                                    <div class="table-cell">
                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-googleplus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- /End Table-Cell -->
                                </div><!-- /End Table-Row -->
                            </div><!-- /End Table -->
                        </div><!-- /End Col -->

                        <div class="col-md-6">
                            <!-- =========================
                                MAILCHIMP SUBSCRIPTION FORM 
                            ============================== -->            
                            <form class="mailchimp-subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                        <div class="table-cell">
                                            <div class="input-group text-white">
                                                <!-- Input Form -->
                                                <input type="email" id="subscriber-email" name="email" placeholder="Your email address" class="form-control">
                                                <!-- Submit Button -->
                                                <span class="input-group-btn">
                                                    <button class="btn btn-white">Subscribe</button>
                                                </span>
                                            </div><!-- /End Input Group -->
                                        </div><!-- /End Table-Cell -->
                                    </div><!-- /End Table-Row -->
                                </div><!-- /End Table -->
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <!-- Notifications --> 
                                    <p class="mc-success"></p>
                                    <p class="mc-failed"></p>
                                </div>
                            </form><!-- /End Mailchimp Subscribe Form -->
                                      
                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM 
                            ============================== -->
                            <!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

                            <form id="subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <div class="input-group">
                                            <input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-color">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
                                    <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
                                </div>
                            </form>
                            -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION 
        ============================== -->
        
    </div><!-- /End Main Wrapper -->
