         <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <ul class="side-nav">
                                <li><%= link_to 'Company', about_path %></li>
                                <li class="active"><%= link_to "Principles", about_principles_path %></li>
                                <li><%= link_to "Culture", about_culture_path %></li>
                                <li><%= link_to " Software Principles", about_software_path %></li>
                                <li><%= link_to "Careers", about_careers_path %></li>
                                <li><%= link_to "FAQ", about_faq_path %></li>
                            </ul>
                        </div>
                    </div>
                     <div class="col-md-8">
                        <h4>The Five Commandments</h4>
                        <h4> (the five things we know)</h4>
                        <div class="divider-deco"><span></span></div>
                    
                        <h5>Focus on our users</h5>
                        <p>
                            We work really hard at providing the best client and user experience possible. It can be a sustainability report, profitability analytic, or public big data set—we take great care to ensure that our products serve you, rather than our own internal goals or bottom line. Our products and services should just ‘work’, helping you solve problems, understand data, and ignite innovation. We know that if we focus on creating the best user experience possible, our products will speak for themselves. 
                        </p>
                        <br>
                        <h5>Don’t Settle (or sellout)</h5>
                        <p>
                            We see products and services to be an expression of our life’s work. As such, we never pursue an idea or concept because we think it will make us money. Money is important, but not enough to sacrifice our quality of product. As artists, we want to make products and services that are above all useful — if we succeed in this endeavor, the money will follow.
                        </p>
                        <br>
                        <h5>Regulation is necessary</h5>
                        <p>
                         While it may seem that regulation is more often burdensome, it’s actually quite useful. It ensures standards are executed as planned, participants are treated fairly, and initiators are held accountable.  Though regulation does not always succeed in these endeavors, we think its place in the marketplace is necessary. 

                         At Plex, we believe that technology needs the support and guidance of regulation to be effective at changing the world. Many of the best ideas are denied the opportunity to innovate because they don’t understand the necessary regulatory and compliance requirements. It’s crucial that we work with federal and local governments, agencies and standard setters to innovate together. 
                        </p>
                        <br>
                        <h5>Make money without being mean </h5>
                        <p>
                        Plex is a business. The revenue we generate is derived from offering data technology to companies and from the sale of insights and analytics To ensure that we’re ultimately serving all our users, we have a set of guiding principles for our products and services:

                        <ul>
                            <li>1. We don’t share data. Period. Clients and users trust us with their most personal information, and we take this very serious. At no point is user specific information shared — even internally— unless the user tells us we can. No exceptions.</li>
                            <li>2. Don't compromise. We believe data can be simple, if presented in the right way.</li>
                            <li>3. Tell the story as it is, not as we want it to be told.</li>
                            <li>4. Be honest about what we are, but especially about what we are not.</li>
                        </ul>
                        </p>
                        <br>
                        <h5>Being better than just ‘Great’</h5>
                        <p>
                        We usually start with great, and then build from there. Our goals are set to be somewhat unattainable, facilitating our ability to produce great products. 
                        </p>


                        

                        


                          
                        </div>

                        <div class="divider-single"></div>

                       
                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->
                </div>
            </div>
        </section>
