         <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <ul class="side-nav">
                                <li><%= link_to 'Company', about_path %></li>
                                <li><%= link_to "Principles", about_principles_path %></li>
                                <li><%= link_to "Culture", about_culture_path %></li>
                                <li class="active"><%= link_to " Software Principles", about_software_path %></li>
                                <li><%= link_to "Careers", about_careers_path %></li>
                                <li><%= link_to "FAQ", about_faq_path %></li>
                            </ul>
                        </div>
                    </div>
                  <div class="col-md-8">
                        <h4>Our Software Principles</h4>
                        <div class="divider-deco"><span></span></div>
                        <p>At Angular, we put a lot of thought into your online information experience. We want to ensure that you have the best possible combination of relevant information with options to amend as you see appropriate. 
                        </p>
                        <br>
                        <h5>Simple Design</h5>
                        <br>
                        <p>Making something simple is really hard. To us, simplicity is the absence of clutter — which can be difficult to achieve when designing software intended for user interaction. We do our best to ensure that every UI is simple to understand, and easy to use. 
                        <br>
                        <br>
                        <h5>Upfront disclosure</h5>
                        <br>
                        When a service is enabled, it should be upfront about what it’s doing, and why. We never sell or create software that is ambiguous as to its goal.  
                        </p>
                        <br>
                        <h5>Simple Exit</h5>
                        <br>
                        <p>It should be easy for you to cancel, exit or uninstall anything from Angular. The process should be simple to find, execute, and evaluate. If you need to leave Angular for any reason, a clearly marked button or telephone number should be listed showing you how.</p>
                        <br>
                        <h5>Being Nosy</h5>
                        <br>
                        <p>If we need something from you, we will ask. No exceptions. If an application collects or transmits your information such as your name or address you should know and provide approval prior to its happening.</p>
                        <br>
                       
                        </div>
                        <div class="divider-single"></div>                      
                    </div>
                </div>
                </div>
            </div>
        </section>
