<!DOCTYPE html>
<html>
<head>
  <title>AngularX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	   <!-- =========================
             PRELOADER - COMMENTED OUT FOR NOW UNTIL DEV COMPLETED!
        ============================== -->
       <!--<div class="preloader">
            <div class="loader-container">
                <div class="text-logo">AngularX</div>
                <div class="signal"></div>
            </div>
        </div> -->
        
        <!--<div id="Intro"></div>-->
        
        <!-- =========================
             HEADER
        ============================== -->
        
        <% if @solid %>
            <header class="header slider" id="top">
        <% elsif @fsvideo %>
             <header class="header video-bg" id="top">
        <% elsif @susvideo %>
             <header class="header video-bg" id="top-2">
        <% elsif @healthvideo %>
             <header class="header video-bg" id="top-3">
        <% else %>
            <header class="solid-bg" id="top">
        <% end %>
            <!-- Background Overlay -->
            <div class="overlay">

                <!-- =========================================
                     Navigation
                ========================================== -->    
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Navbar-Header -->
                                <div class="navbar-header">
                                    
                                    <!-- Mobile Menu -->
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <i class="icon icon_menu"></i>
                                    </button>

                                    <!-- Text-Logo --> 
                                    <a href="<%= root_path %>" class="navbar-brand" title="AngularX">
                                        <span class="text-logo">AngularX</span>
                                    </a> 

                                     <!--Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200) -->

                                    <!--<a href="#top" class="navbar-brand img-logo scrollto" title="AngularX">
                                       <%= link_to  (image_tag "AngularX_Logo.png", alt: "Logo", height: '40'), root_path %>-->
                                    
                                    </a> 
                                    

                                </div><!-- /End Navbar-Header -->

                                <!-- Navbar-Collapse -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <!-- Menu Items -->

                                        <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown" id="header-dd">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><%= link_to "Sustainability", sustainability_path %></li>
                                            <li><a href="#">Talent</a></li>
                                            <li><a href="#">Profitability</a></li>
                                            <li><a href="#">Financial Analytics</a></li>
                                            <li><a href="#">AngularX Dashboard</a></li>
                                            <li><a href="#">AngularX Talent</a></li>
                                            <li><a href="#">AngularX Terminal</a></li>
                                             <li role="separator" class="divider"></li>
                                             <li><%= link_to "Case Studies", case_studies_path %></li>
                                             <li><%= link_to "Use Cases", use_cases_path %></li>
                                          </ul>
                                        </li>
                                           <li class="dropdown" id="header-dd">
                                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Industries<span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><%= link_to "Financial Services", financial_services_path %>
                                            <li><%= link_to "Education & Non Profit", education_path %></li>
                                            <li><a href="#">Energy</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><%= link_to "Health Care", health_care_path %></li>
                                          </ul>
                                        </li>
                                        <li><a href="#pricing" title="" class="scrollto">Participants</a></li>
                                        <li><%= link_to 'About', about_path %></li>
                                        <li><a href="#team" title="" class="scrollto">Contact</a></li>
                                        <li><a href="#mobile-download" title="" class="scrollto">Mobile</a></li>
                                        
                                        <!-- For Dropdown apps menu - Google Style -->
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 menu-grid" id="apps-center">
                                          <div class="btn-group">
                                              <li><button class="apps-button" type="button" data-toggle="dropdown"><i class="material-icons">&#xE5C3;</i></button></li>
                                              <div class="dropdown-menu" role="menu">
                                                <div class="list">
                                                  <div class="row">
                                                     <div class="col-sm-4 col-xs-6">
                                                      <a href="#">
                                                        <span class="blog"></span>
                                                        <div class="menu"><%= image_tag "dash-icon.png", height: "70" %>Dashboard</div>
                                                      </a>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-6" id="terminal">
                                                      <a href="#">
                                                        <span class="blog"></span>
                                                        <div class="menu"><%= image_tag "chat-icon.png", height: "70" %>Talent</div>
                                                      </a>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-6">
                                                      <a href="#">
                                                        <span class="blog"></span>
                                                        <div class="menu"><%= image_tag "fs-icon.png", height: "70" %>Terminal</div>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-6">
                                                      <a href="#">
                                                        <span class="blog"></span>
                                                        <div class="menu"><%= image_tag "settings-icon.png", height: "70" %>Settings</div>
                                                      </a>
                                                    </div> 
                                                    <div class="col-sm-4 col-xs-6">
                                                      <a href="#">
                                                        <span class="blog"></span>
                                                        <div class="menu"><%= image_tag "participant-icon.png", height: "70" %>Participant</div>
                                                      </a>
                                                    </div> <!--/End for Participants -->
                                                 </div> <!--/End for list-->
                                              </div> <!--/End for row-->
                                            </div> <!--/End for dropdown menu-->
                                        </div> <!--/End for button group-->
                                    </div>  <!--/End for menu grid -->  
							
                                    <!-- Login and Signup Modal on click -->
                                    <li><a class="btn btn-nav" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Login</a></li>
                                    <li><a class="btn btn-nav btn-color" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Sign Up</a></li> 
										

										          
                            </ul> <!--/End menu ul -->
                        </div><!-- /End Navbar-Collapse -->
                    </div><!-- /End Col -->
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </nav><!-- /End Sticky Navigation -->


                <!-- =========================================
                     Login/Signup Bootstrap Modal
                ==========================================  -->
                <div class="modal fade login" id="loginModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <!-- Modal-Header -->
                            <div class="modal-header">
                                <!-- Close Button -->
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="icon icon_close_alt2"></i>
                                </button>
                                <!-- Modal-Header Title-->
                                <h4 class="modal-title">Sign in to <span>Smartmvp</span></h4>
                                <p class="modal-subtitle">Enter your email and password</p>
                            </div><!-- /End Modal-Header -->

                            <!-- Modal-Body Content -->
                            <div class="modal-body">  
                                <div class="box">
                                     <div class="content">
                                        <!-- Login Form -->
                                        <div class="loginBox">
                                            <form id="login-modal" role="form">
                                                <!-- Success/Alert Notification -->
                                                <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Login modal validation is working. Implement your code.</strong></p>
                                                <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>
                                                <!-- Input Fields -->
                                                <input id="lm-email" class="form-control input-lg" type="text" placeholder="Email" name="lm-email" required>
                                                <input id="lm-password" class="form-control input-lg" type="password" placeholder="Password" name="lm-password" required>
                                                <!-- Login Button -->
                                                <button class="btn btn-color">Login</button>
                                            </form>
                                        </div><!-- /End Login Form -->
                                     </div>
                                </div><!-- /End Login Form Box -->
                                <div class="box">
                                    <!-- Signup Form -->
                                    <div class="content registerBox" style="display:none;">
                                        <form id="signup-modal" role="form">
                                            <!-- Success/Alert Notification -->
                                            <p class="sm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Signup modal validation is working. Implement your code.</strong></p>
                                            <p class="sm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>
                                            <!-- Input Fields -->
                                            <input id="sm-email" class="form-control input-lg" type="text" placeholder="Email" name="sm-email" required>
                                            <input id="sm-password" class="form-control input-lg" type="password" placeholder="Password" name="sm-password">
                                            <input id="sm-confirm" class="form-control input-lg" type="password" placeholder="Repeat Password" name="sm-confirm">
                                            <!-- Signup Button -->
                                            <button class="btn btn-color">Create Account</button>
                                        </form>
                                        
                                    </div><!-- /End Signup Form -->
                                </div><!-- /End Signup Form Box -->
                            </div><!-- /End Modal-Body -->

                            <!-- Modal-Footer -->
                            <div class="modal-footer">
                                <!-- Login-Footer. Redirect to Signup-Modal-->
                                <div class="forgot login-footer">
                                    <span>Don't have an account? 
                                         <a href="javascript: showRegisterForm();">Sign up.</a>
                                    </span>
                                </div>
                                <!-- Signup-Footer. Redirect to Login-Modal -->
                                <div class="forgot register-footer" style="display:none">
                                     <span>Already have an account?</span>
                                     <a href="javascript: showLoginForm();">Login</a>
                                </div>
                            </div><!-- /End Modal-Footer -->      
                          
                        </div><!-- /End Modal Content -->
                    </div><!-- /End Modal Dialog -->
                </div><!-- /End Modal -->
			
             

<%= yield %>

 <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Footer Left Col -->
                        <div class="col-md-5">
                                <!-- Logo -->
                                <a href="#top" class="scrollto" title="SmartMvp">
                                    <span class="text-logo">AngularX</span>
                                </a>
                                <p class="footer-cta">Like to request a demo?
                                    <a href="#top" class="btn btn-color">Get Started</a>
                                </p> 
                        </div>
                        <!-- Footer Contact Col -->
                        <div class="col-md-3">
                            <h5 class="text-white">Contact</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:hi@angularx.com">hi@angularx.com</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                    Need help? +1 312-224-1617
                                </div>
                            </div>
                        </div>
                        <!-- Footer Right Col: Twitter Feed 
                        <div class="col-md-4">
                                <h5 class="text-white">Recent Tweets</h5>
                                <div class="tweet"></div>
                        </div>-->

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Careers</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                                <p class="footer-copy">&copy; 2016 - AngularX DBA<a href="http://plexanalytics.com"> Plex Analytics</a></p>
                            </div>
                        </div>
                        
                    </div><!-- End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>


</body>
</html>
